# do not ignore files from below formats
!*.md
!*.py
!*.R
!*.Rmd
!*.sql
!*.js
!*.pl
!*.java
!*.java
!*.wf
!*.nf
!*.ipynb
!*.jpeg
!*.csv
!*.xls
!*.xml
!*.sh
!*.txt

# exclude the ones below
*.RData
*.Rhistory
*.Rapp.history
__pycache__/
*.py[cod]
*.pyo
*.pyd

*.npy
*.npz
*.bam
*.bai
*.bak
*.fastq
*.bed
*.bigwig
*.bw

*.a
*.tmp
*.cache

*.DS_Store
*.env
*.iml

.ipynb_checkpoints/
